img{
  float: right;
  width: 200px;
  height: 200px;
  margin-left: 15px;
}
.comment {
  border: 1px solid #ead5d5;
  padding: 10px;
  margin-bottom: 10px;
}
.biru{
  background-color: rgb(173, 216, 230);
}
